<section>
  <h1>Heroes Board Game</h1>
  <div id="grid" style="--rowNum: <%= rows(@board) %>;">
    <%= for x <- @board.h_range, y <- reverse(@board.v_range) do %>
      <%= render("grid_box.html", position: {x, y}, walls: @board.walls) %>
    <% end %>
  </div>
  <%= render("start_button.html") %>
</section>
